.lxgw-marker-gothic-regular {
  font-family: "LXGW Marker Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "LXGW Marker Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Code below to be checked */

html {
  overflow-y: scroll;
}

img {
  width: 100%;
  height: auto;
}

body {
  display: flex;
  justify-content: center;

  /* background-color: CadetBlue; */
  background-color: #a08a7e;
}

h1.page-title > a {
  color: #000;
}

h3 {
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
}

h4 {
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
}

ul {
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
  padding-left: 1.5em;
}

ol {
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
  padding-left: 1.5em;
}

a {
  text-decoration: none;
}

p {
  text-align: justify;
}

pre {
  margin: 0;
  padding: 1rem;

  overflow-x: auto;
  background: #333333;
}
pre > code {
  color: lightgreen;
}

blockquote {
  margin: 0;
  padding: 1rem;
  background: #dddddd;
}
blockquote,
p {
  margin-top: 1rem;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}

.page-container {
  width: 800px;
  padding: 2rem;
  border-radius: 15px;
  overflow-x: hidden;

  background-color: FloralWhite;
}

.site-subtitle {
  color: gray;
}

.back-button-text {
  margin-top: 5rem;
}

.back-button {
  display: flex;
  flex-direction: column;

  width: 3rem;
  height: 3rem;
  border-radius: 50% 50%;
  background-color: CadetBlue;

  text-align: center;
}

.back-button-text > a:link {
  color: FloralWhite;
}

.back-button-text > a:visited {
  color: FloralWhite;
}

.back-button-text-position {
  position: relative;
  top: -0.05rem;
  text-align: center;
}

.site-categories {
  display: flex;
  flex-wrap: wrap;

  /* margin-left: 0.1rem;
  margin-right: 0.1rem; */
  width: 100%;
  /* border-radius: 5px; */

  /* background: CadetBlue; */
  background-color: #7e83a0;
}

.site-categories > .cat-item {
  /* color: floralwhite; */
  font-weight: 900;
  margin: 0.5rem;
  padding: 0.5rem;
}

.cat-item > a:link {
  color: floralwhite;
}

.cat-item > a:visited {
  color: floralwhite;
}

.item-disabled {
  color: SlateGrey;
}

.item-selected {
  background-color: black;
  border-radius: 5px;
}

.content-body {
  display: flex;
  flex-wrap: wrap;
}

.content-block-full {
  display: flex;
  /* flex: 1; */
  flex-basis: 100%;
  flex-direction: column;
  text-align: justify;
  line-height: 1.5rem;
  margin: 0.5rem;
}

.content-block-full > img {
  width: 100%;
}

.content-block {
  flex: 1 1 40%;
  text-align: justify;
  line-height: 1.5rem;
  margin: 0.5rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0;
}

.image-frame {
  width: 10rem;

  align-self: center;
}

.portrait-image {
  width: 100%;
  border-radius: 50%;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image-in-essay {
  width: 90%;
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.span-text-bold-darkred {
  font-weight: bold;
  color: darkred;
}

.text-footnote {
  font-size: 0.8rem;
}

.text-quote {
  background-color: #dddddd;
}

/* On screens that are 768px or less, set the background color to blue */
@media screen and (max-width: 768px) {
  .page-container {
    width: 100%;
  }

  .content-block {
    flex: unset;
  }
}
