---
title: Hans' Stuff
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=LXGW+Marker+Gothic&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/bundle.css" />
    <title>{{ title | default: "Hans' Notes"}}</title>
  </head>
  <body>
    <header>
      <h1>{{ title | default: "Hans' Notes"}}</h1>

      用 Eleventy (11ty) 重新整理一些資料
    </header>
    <main>{{ content }}</main>
  </body>
</html>
